@import "style.css";
/*
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}*/

.calendar {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

td {
    border: 1px solid #E5EAEE;
    @apply p-0 sm:p-2
}

th {
    border: none;
    padding: 0.5rem;
    color: #B7B8BC;
}

.calendar-wrapper .calendar__nav {
    @apply flex justify-between
}

.days_title {
    /*@apply*/
}


.days-name {
    @apply text-xs;
}


.calendar__container {
    cursor: default;
    @apply w-full text-center
}

.calendar__navi {
    border: 1px solid #E5EAEE;
    @apply flex justify-between
}

.big-calendar .calendar__container tbody {
    cursor: default;
    @apply text-left
}

.calendar__container thead {
    border-left: 1px solid #E5EAEE;
    border-right: 1px solid #E5EAEE;
}

.calendar__container .holiday {
    color: red;
}

.calendar__container .sat.holiday {
    color: inherit;
}

.calendar__container .dateNum {
    @apply mr-2
}

.calendar__container .dateName {
    font-size: 0.75rem;
    color: gray;
    @apply mr-2 hidden sm:inline
}

.calendar__container .notCurrent {
    color: gray;
    opacity: 0.5;
}

.calendar__container .today {
    background-color: #EBF4FD;
}

.calendar__container .sat.holiday.notCurrent {
    color: gray;
    opacity: 0.5;
}

.mini-calendar .calendar__container td {
    @apply p-2
}

.mini-calendar .calendar__container .selected {
    background-color: #0D5CE0;
    color: white;
}

.big-calendar .calendar__container tbody td {
    height: 100px;
    width: calc(100% / 7);
    vertical-align: baseline;
}

.big-calendar .calendar__container tbody td .rest-content {
    background-color: #0D5CE0;
    color: white;
    @apply text-center rounded-md cursor-pointer
}


.myRest-title {
    @apply flex flex-col mb-3
}

.myRest-title .remain-list {
    @apply flex flex-wrap space-x-4
}

.myRest-Content .big-calendar {
    order: 1;
}

.myRest-Content .add-page {
    order: 2;
}

.myRest-Content.add-mode {
    grid-template-columns: 2fr 1fr;
    @apply sm:grid
}
